*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}
html {
  height:100%;
}

body {
  margin:0;
  background-image: url(https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074076.jpg?t=st=1743013849~exp=1743017449~hmac=869dcb67d54b65cc5983cc35dd24b5d07c287a98e1b6d89182d67bd960da1606&w=1380);
  background-repeat: no-repeat;
  background-size: 100%;
}

#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
  }

.signup{
    position: relative;
      z-index: 1;
      color: white;
      padding: 20px;
      background-color: rgba(151, 151, 151, 0.226);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 540px;
    background-color: rgba(95, 93, 93, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(5px);
}
label{
    color: rgb(255, 255, 255);
}
span{
    background-color: rgb(255, 142, 36);
}


